{% macro chapter_title(chapter_title) %}
    <h2>{{ chapter_title }}</h2>
{% endmacro %}

{% macro chapter_text(chapter_text) %}
    <p>{{ chapter_text }}</p>
{% endmacro %}

{% macro subchapter_title(subchapter_title) %}
    <h3>{{ subchapter_title }}</h3>
{% endmacro %}

{% macro subchapter_text(subchapter_text) %}
    <p>{{ subchapter_text }}</p>
{% endmacro %}

{% macro image(image_dict) %}
    <img src="{{ image_dict['src'] }}" alt="">
    <p class="image-title">{{ image_dict['name']}}</p>
{% endmacro %}

{% macro table(table_dict) %}
    <table>
        <caption>{{ table_dict['name'] }}</caption>
        {% for row in table_dict['rows']: %}
            <tr>
            {% if loop.index0 == 0 %}
                {% for it in row %}
                    <th>{{ it }}</th>
                {% endfor %}
            {% endif %}
            {% if loop.index0 > 0 %}
                {% for it in row %}
                    <td>{{ it }}</td>
                {% endfor %}
            {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro list_(list_dict) %}
    <p>{{ list_dict['title'] }}</p>
    <ol>
        {% for it in list_dict['items'] %}
            <li>{{ it }}</li>
        {% endfor %}
    </ol>
{% endmacro %}

{% macro vacia() %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data['document']['type'] }}</title>
</head>
<body>
    <div class="page" id="page1">
        <h1>{{ data['subject'] }}</h1>
        <p class="bold" id="document-type">{{ data['document']['type'] }}</p>
        <div id="author">
            <p  class="bold">Author</p>
            <p>{{ data['author'] }}</p>
        </div>
    </div>

    <div class="page" id="page2">
        <h2 id="index-title">Table of contents</h3>
        <!-- {% for el in data.keys() %}
            {% if el == 'chapter' %}
                <p>{{ loop.index.__repr__() + '.' + data[el]['title']}}</p>
                {% for sel in data[el].keys() %}
                    {% if sel == 'subchapter' %}
                        <p>{{ loop.index.__repr__() + '.' + data[el][sel]['title'] }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %} -->
        {% set ns = namespace(chap1level = 0) %}
        {% for key1, value1 in data.items() %}
            {% if key1.startswith('chapter') %}
                {% set ns.chap1level = ns.chap1level + 1 %}
                <p class="index-1-level bold">{{ '{}.{}{} {}'.format(ns.chap1level.__repr__(), value1['title'], '.'*140, (ns.chap1level + 1).__repr__()) }}</p>
                {% set ns.chap2level = 0 %}
                {% for key2, value2 in value1['content'].items() %}
                    {% if key2.startswith('subchapter') %}
                        {% set ns.chap2level = ns.chap2level + 1 %}
                        <p class="index-2-level">{{ '{}.{} {}{} {}'.format(ns.chap1level.__repr__(), ns.chap2level.__repr__(), value2['title'], '.' * (140 - value2['title'].__len__()), (ns.chap2level + ns.chap1level + 1).__repr__()) }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>

        <!-- <div class="page" id="page3"> -->
        <div class="pagess">
        {% for key in data %}
            {% if key.startswith("chapter") %}
                {{ chapter_title(data[key]['title']) }}
                {% for chkey in data[key] %}
                    {% if chkey == "content" %}
                        {% for chcontentkey in data[key]['content'] %}
                            {% if chcontentkey.startswith("text") %}
                                {{ chapter_text(data[key]['content'][chcontentkey]) }}
                            {% endif %}
                            {% if chcontentkey.startswith("image") %}
                                {{ image(data[key]['content'][chcontentkey]) }}
                            {% endif %}
                            {% if chcontentkey.startswith("table") %}
                                {{ table(data[key]['content'][chcontentkey]) }}
                            {% endif %}
                            {% if chcontentkey.startswith("list") %}
                                {{ list_(data[key]['content'][chcontentkey]) }}
                            {% endif %}

                            {% if chcontentkey.startswith("subchapter") %}
                                {{ subchapter_title(data[key]['content'][chcontentkey]['title']) }}
                                {% for sckey in data[key]['content'][chcontentkey]['content'] %}            
                                    {% if sckey.startswith("text") %}
                                        {{ subchapter_text(data[key]['content'][chcontentkey]['content'][sckey]) }}
                                    {% endif %}
                                    {% if sckey.startswith("image") %}
                                        {{ image(data[key]['content'][chcontentkey]['content'][sckey]) }}
                                    {% endif %}
                                    {% if sckey.startswith("table") %}
                                        {{ table(data[key]['content'][chcontentkey]['content'][sckey]) }}
                                    {% endif %}
                                    {% if sckey.startswith("list") %}
                                        {{ list_(data[key]['content'][chcontentkey]['content'][sckey]) }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}        
                        {% endfor %}
                    {% endif %}
                {% endfor %}
           {% endif %}
        {% endfor %}

    </div>

</body>
</html>